<script id="purchase-template" type="text/x-handlebars-template">
<h2>Purchase</h2>
<div id="cartel"></div>
<div id="purchase">
  {{#if ticket}}
    <p>Purchase successful!</p>
    <p>Amount: {{ticket.amount}}</p>
    <p>Purchaser: {{ticket.purchaser}}</p>
    <p>Email: {{ticket.purchaser_email}}</p>
  {{else}}
    <p>Purchase failed!</p>
  {{/if}}
</div>
<a href="/" id="myhomelink">Home</a>
</script>


<script src="/js/purchase.js"></script>